.logo  {
    height: 36px;
    margin-top: 14px;
    margin-bottom: 14px;
    background-image: url('../../assets/nav-logo.png');
    background-repeat: no-repeat;
    cursor: pointer;
}

.ant-menu-item {
    height: auto !important;
    line-height: 1.5 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    white-space: normal !important;
}